.ai-image-generator{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}
.header{
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;

}
.header span{
    color: rgb(85, 8, 141);
    font-weight: 600;
}
.img-loading{
    display: flex;
    flex-direction: column;
}
.img-loading img{
    width: 350px;
    height: 300px;
    border-radius: 10px;
   
}

.image{  width: 100%;
    height: 100%;
    transition: transform 0.5s, filter 0.5s ease-in-out;
}
.image:hover {
    transform: scale(1.1);
    filter: brightness(120%);
}
.search-box{
    display: flex;
    width: 1000px;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #17272f;


}
.search-input{
    width:600px ;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
}
.search-input::placeholder{
    color: #999;
}
.generate-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 80px;
  font-size: 20px;
  border-radius: 50px;
  background: rgb(85, 8, 141);
  cursor: pointer;
}

.loading-bar{
    width: 0px;
    height: 8px;
    background: rgb(85, 8, 141);
}
.loading-text{
    font-size: 18px;
}

.loading-bar-full{
    width: 350px;
    height: 8px;
    background:rgb(85, 8, 141) ;
    transition: 15s;
}
.display-none{
    display: none;
}